#heading1{
    color: blueviolet;
}
#heading2 {
    color: yellow;
}
#heading3 {
    color: aquamarine;
}
#heading4 {
    color: aqua;
}
#heading5 {
    color: greenyellow;
}
#heading6 {
    color: green;
}
